@media (max-width: 576px){
    body{
        background: url(../images/bg-mobile.svg) no-repeat;
        background-color: var(--background-color);
    }

    .content{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .content .image img{
        width: 300px;
    }

    .content .info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 20p;
    }

    .content .info .title{
        text-align: center;
        font-size: 1.8rem;
        padding-top: 70px;
    }

    .content .info .description{
        text-align: center;
        font-size: 1.3rem;
    }

    .content .info .btn{
        width: 17rem;
        text-align: center;
    }

    .footer{
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin: 0;
    }
}